fastapi
uvicorn
python-dotenv
requests
pydantic
langdetect
torch
transformers
sentence-transformers
llama-index-core
llama-index-embeddings-huggingface
gtts
pyttsx3
SpeechRecognition
pydub
openai-whisper
python-multipart
python-dateutil
huggingface_hub
openai
numpy
pillow